body{

}
.maintemplate{
    margin: auto;
    text-align: center;
}
input{
    font-size: 20px;    
    border: none;
    border-bottom: 2px solid red;
}
input::hover{
     border: none;
    border-bottom: 10px solid red;
}